@import '_settings.scss';

.board-content {
  display: flex;
  margin: 0 $gap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $common-elm-bg;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 5px 5px 5px;
  }
}
